<div class="logo">
    <img src="img/logo-header.png" alt="logo-menu-burguer" id="logo">
</div>

<div class="menu-header">

    <a href="/" id="home">Home</a>

    <a href='/about' id="sobre">Sobre</a>

    <a href="/login" id="login">Login</a>

    <a href="/produtos" id="produtos">Lanches</a>

    <a href="/carrinho" id="carrinho">🛒</a>
</div>


