
<div class="homeseta">
<a href="/">&#8592;</a>
</div>


<div class="logo">
    <img src="img/logo-header.png" alt="logo-menu-burguer" id="logo">
</div>

<div class="menu-header">

    <a href="/" id="home">Home</a>&nbsp;&nbsp;                &nbsp;&nbsp;

    <a href="/login" id="login">Login</a>&nbsp;&nbsp;                &nbsp;&nbsp;

    <a href="/lanches" id="lanches">Cardápio</a>&nbsp;&nbsp;                &nbsp;&nbsp;

    <a href="/carrinho" id="carrinho">🛒</a>
</div><br>


