{{#section 'styles'}}
<link rel="stylesheet" href="css/menu.css">
{{/section}}

<div>
    <img src="./" alt="">
</div>

<a href="/login">Login</a>

<a href='/cadastro'>Cadastrar</a>

<a href='/about'>Sobre</a>

<a href="/">Home</a>