

<title>Sobre a Hamburgueria</title>

<h1>Sobre a Hamburgueria</h1>
<div class="geralAbout">
<div id="aEsquerda">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo consectetur, aperiam ratione voluptate corrupti quia harum vero natus repudiandae rem et, fugit exercitationem perspiciatis quisquam! Cupiditate ad magni tempore praesentium.
    <br />
    <li>Nossa missão é oferecer hambúrgueres deliciosos e suculentos feitos com ingredientes frescos e de alta qualidade.</li>
    <br />
    <li>Estamos comprometidos em oferecer uma experiência incrível para todos os amantes de hambúrgueres. Venha nos visitar!</li><br><br><br>
</div>
<div id="aDireita">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo consectetur, aperiam ratione voluptate corrupti quia harum vero natus repudiandae rem et, fugit exercitationem perspiciatis quisquam! Cupiditate ad magni tempore praesentium.
    <br />
    <li>Nossa missão é oferecer hambúrgueres deliciosos e suculentos feitos com ingredientes frescos e de alta qualidade.</li>
    <br />
    <li>Estamos comprometidos em oferecer uma experiência incrível para todos os amantes de hambúrgueres. Venha nos visitar!</li>
</div>
</div>
    


