<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sobre a Hamburgueria</title>
    <style>
        ul,h1 {
            text-align: justify;
            list-style-type: none;
            padding-left: 0;
        }

        li {
            margin-bottom: 10px;
        }
    </style>
</head>
<body>

<h1>Sobre a Hamburgueria</h1>

<ul>
    <li>Bem-vindo à nossa Hamburgueria! Nós somos apaixonados por hambúrgueres.</li>
    <br />
    <li>Nossa missão é oferecer hambúrgueres deliciosos e suculentos feitos com ingredientes frescos e de alta qualidade.</li>
    <br />
    <li>Estamos comprometidos em oferecer uma experiência incrível para todos os amantes de hambúrgueres. Venha nos visitar!</li>
</ul>

</body>
</html>
