{{#section "styles"}}
  <link rel="stylesheet" href="css/cadastro.css" />
{{/section}}

<h1>Pagina Administrativa</h1>

<br /><br />

<form action="cadastrar" method="post">

  <input type="submit" name="cadastrar" value="cadastrar" />

</form>

<form action="procurar" method="post">

  <input type="submit" name="procurar" value="procurar" />

</form>

<form action="deletar" method="post">

  <input type="submit" name="deletar" value="deletar" />

</form>