{{#section "styles"}}
  <link rel="stylesheet" href="css/contato.css" />
{{/section}}

<h1>Pagina Administrativa</h1>

<br /><br />

{{!-- <form action="submit" method="post">

  <input type="submit" name="cadastrar" value="cadastrar" />
  <input type="submit" name="procurar" value="procurar" />
  <input type="submit" name="deletar" value="deletar" />

</form> --}}

<a href="/cadastro"><input type="button" name="cadastrar" value="cadastrar" /></a>