{{#section "styles"}}
  <link rel="stylesheet" href="css/acoesAdm.css" />
{{/section}}


<div class="acoesAdmin">
<br /><br />

<a href="/pedidos"><input id="pedidos" type="button" name="pedidos" value="Pedidos" /></a>
<a href="/usuarios"><input id="usuario" type="button" name="usuario" value="Usuarios" /></a>
<a href="/produtos"><input id="produtos" type="button" name="produtos" value="Produtos" /></a>
<a href="/cadastro"><input id="acao" type="button" name="cadastrar" value="Cadastrar" /></a>

</div>