{{#section "styles"}}
  <link rel="stylesheet" href="css/cadastro.css" />
{{/section}}

<h1>Pagina Administrativa</h1>

<br /><br />

<a href="/cadastro"><input id="acao" type="button" name="cadastrar" value="cadastrar" /></a>