{{#section 'styles'}}
<link rel="stylesheet" href="css/cadastroAdm.css">
{{/section}}
<a method="get" href="/acoesAdm"><button id="btnVoltar" type="button" value="Voltar">Voltar</button></a>
<h1>Cadastro do Produto</h1>

<form action="salvarProduto" method="post">
    <!-- Campo Nome -->
    <label for="nome_lache">Lanche: </label>
    <input type="text" id="lanche" name="lanche" placeholder="X Burguer" required>

    <!-- descricao_lanche -->
    <label for="descricao_lanche">Descrição:</label>
    <input type="text" id="descricao_lanche" name="descricao"
        placeholder="Pão de hamburguer, 100g Hamburguer, tomate, queijo" required>

    <!-- Preço -->
    <label for="preco">Preço: R$</label>
    <input type="text" id="preco" name="preco" placeholder="25.00" required>



    <!-- Botão de Cadastro -->
    <button>Cadastrar</button>
</form>

