

<table>
    <thead>
        <tr>
            <th>Lanche</th>
            <th>Descrição</th>
            <th>Preço</th>
            <th></th>
        </tr>
    </thead>

    {{#each dados }}
        <tr>
            <td>{{lanche}}</td>
            <td>{{descricao}}</td>
            <td>{{preco}}</td>
            <td><a method="get" href="/carrinho/excluir/{{id}}"><input type="button" value="Excluir"></a></td>
        </tr>
    {{/each}}
</table>

<a method="get" href="/carrinho/ptotal"><input type="button" value="Calcular Total"></a>
<a method="get" href="/carrinho/aplicarDesconto"><input type="button" value="Aplicar Desconto"></a>
<a method="get" href="/pagamentos"><input type="button" value="Finalizar Compra"></a>
<a method="get" href="/"><input type="button" value="Voltar"></a>