{{#section 'styles'}}
<link rel="stylesheet" href="css/carrinho.css">
{{/section}}

<div class="container">
    <table>
        <thead>
            <tr>
                <th>Lanche</th>
                <th>Descrição</th>
                <th>Preço</th>
                <th></th>
            </tr>
        </thead>

        {{#each dados }}
        <tr>
            <td>{{lanche}}</td>
            <td>{{descricao}}</td>
            <td>{{preco}}</td>
            <td><a method="get" href="/carrinho/excluir/{{id}}">X</a></td>
        </tr>
        {{/each}}
    </table><br><br>

    {{!-- <a method="get" href="/carrinho/valorTotal"><input type="button" value="Calcular Total"></a>
    <a method="get" href="/carrinho/calcularDesconto"><input type="button" value="Calcular Desconto"></a> --}}
    <a method="get" href="/pagamentos"><input type="button" value="Finalizar Compra"></a><br><br>
    <a method="get" href="/"><input type="button" value="Voltar"></a>
</div>