{{#section 'styles'}}
<link rel="stylesheet" href="css/home.css">
{{/section}}

<div class="home-text">
    <h4>Bem vindo ao Menu Burguer!</h4>
    <p>
        Nossa missão é oferecer hambúrgueres deliciosos e suculentos 
        feitos com ingredientes frescos e de alta qualidade.
        Estamos comprometidos em oferecer uma experiência incrível para todos os amantes de hambúrgueres.
         Venha nos visitar!
    </p>
    <h4>Não possui cadastro?</h4>
    <a href="/cadastroUser" class="home-btn">Cadastre-se</a>
</div>