{{#section 'styles'}}
<link rel="stylesheet" href="css/home.css">
{{/section}}

<div class="home-text">
    <div class="botao-aolado">
        <h4>Bem vindo ao Menu Burguer!</h4>
        <a href="/cadastroUser" id="btn-cadastre" class="home-btn">Cadastre-se</a>
    </div>
    <p id="paragrafo">
        Nossa missão é oferecer hambúrgueres deliciosos e suculentos
        feitos com ingredientes frescos e de alta qualidade.
        Estamos comprometidos em oferecer uma experiência incrível para todos os amantes de hambúrgueres.
        
    </p>
    <h4>Venha nos visitar!</h4>

</div>