{{#section 'styles'}}
<link rel="stylesheet" href="css/home.css">
{{/section}}

<div class="geralAbout">
<div id="aEsquerda">
    <li>Nossa missão é oferecer hambúrgueres deliciosos e suculentos feitos com ingredientes frescos e de alta qualidade.</li>
    <br />
    <li>Estamos comprometidos em oferecer uma experiência incrível para todos os amantes de hambúrgueres. Venha nos visitar!</li><br><br><br>
</div>