{{#section "styles"}}
<link rel="stylesheet" href="css/login.css" />
{{/section}}

<h1>Login</h1>

<br /><br />
<form action="loginEntrar" method="post">
  <input type="text" name="usuario" placeholder="Digite seu usuario" />
  <input type="password" name="senha" placeholder="Digite sua senha" />
  <button type="submit" name="entrar">entrar</button>

</form>
<br><br>
<h4>Não possui cadastro?</h4>
<a href="/cadastroUser"><input id="cadastre" type="button" name="cadastrese" value="Cadastre-se" /></a>
