{{#section 'styles'}}
<link rel="stylesheet" href="css/login.css">
{{/section}}

<div class="container">
  <div class="formulario">
    <h2>Login</h2>
    <form action="loginEntrar" method="post" id="loginForm">

      <label for="nome">User</label>
      <input type="text" id="nome" name="usuario" required>

      <label for="senha">Senha:</label>
      <input type="password" id="senhaLogin" name="senha" required>

      <button type="submit" name="entrar" value="Login" id="btn">entrar</button>

    </form>
    <br><br>
    <h2>Não possui cadastro?</h2><br>
    <a href="/cadastroUser"><input id="cadastre" type="button" name="cadastrese" value="Cadastrar" /></a>
  </div>
</div>
</div>