{{#section 'styles'}}
<link rel="stylesheet" href="css/obrigada.css">
{{/section}}

<div class="container">
    <h2 class="thank-you">Obrigado por comprar conosco, aproveite seus lanches!</h2>
  </div><br><br>

<div class="container2">
  <h2 class="come-back">Volte sempre!</h2>  
</div>
