{{#section 'styles'}}
<link rel="stylesheet" href="css/contato.css">
{{/section}}

<table>
    <thead>
        <tr>
            <th class="lanche">Lanche</th>
            <th class="descricao">Descrição</th>
            <th class="preco">Preço</th>
            <th class="add"></th>
        </tr>
    </thead>

    {{#each dados }}
        <tr>
            <td class="lanche">{{lanche}}</td>
            <td class="descricao">{{descricao}}</td>
            <td class="preco">{{preco}}</td>
            <td class="add"><a method="get" href="/produtos/addCarrinho/{{id}}"><input type="button" class="button" id="add" value="addCarrinho"></a></td>
        </tr>
    {{/each}}
</table>

<a method="get" href="/"><input type="button" class="button" id="voltar" value="Voltar"></a>