<h3>Tabela - Pessoas</h3>

<table>
    <thead>
        <tr>
            <td>ID</td>
            <td>Nome</td>
            <td>Email</td>
            <td>Senha</td>
        </tr>
    </thead>

    {{#each dados }}
        <tr>
            <td>{{id}}</td>
            <td>{{nome}}</td>
            <td>{{email}}</td>
            <td>{{senha}}</td>
        </tr>
    {{/each}}
</table>