@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,800;1,400&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

#acao{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
}



table{
    margin-top:1%;
    margin-left: 35%;
}

table td {
    border: 1px solid black;
    white-space: nowrap;
}

/* ==================== Formatação do Formulário =======================*/

/* body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
} */

form {
    margin-top: 12px;
    margin-left: 33%;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

h2 {
    text-align: center;
    color: #333;
}

label {
    display: block;
    margin: 10px 0 5px;
    color: #555;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #333;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 60%;
}

button:hover {
    background-color: #818481;
}

#btnVoltar{
    background-color: #818481;
    width: 10%;
    color: #fff;
}