*{margin: 0; padding: 0; box-sizing: border-box;}

header{
    height: 20%;
    background-image: url(../img/img-header.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: initial;
}

.logo{
    position: relative;
    top: 10px ;
    height: 25%;
    width: 25%;
}

#logo{
    cursor: pointer;
    position: relative;
    height: auto;
    width: 30%;
}

table{
    margin-top:1%;
    margin-left: 35%;
}

table td {
    border: 1px solid black;
    white-space: nowrap;
}