@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap");

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
/* Estilos para o layout básico */
body{
  background-image: url('../img/imgFundo.png');
  width: 100%;
  background-size: cover; 
 
}

.botao-aolado{
  display: flex;
 
}

/* Define algumas variáveis CSS */
:root {
  --red:#ffc400b9 ;/* Cor vermelha */
  --white: #fff;/* Cor branca */
  --dark: #1e1c2a;/* Cor escura */
}


/* Estilo para a classe CSS 'home-text' */

.home-text {
  margin-left: 100px;
  margin-top: 50px;
  
}

.home-text h4 {

  /* Tamanho da fonte 1,5rem, cor vermelha, margem 1rem */
  font-size: 1.5rem;
  color: var(--red);
  margin-bottom: 1rem;
}

.home-text p {
  margin-bottom: 1rem;
  margin-top: 60px;
}

#btn-cadastre{
  margin-left: 37%;
}

.home-btn {
  display: inline-block;
  /* display: bloco embutido */
  padding: 15px 45px;
  /* preenchimento: 15px 45px */
  background: var(--red);
  /* plano de fundo: var(--vermelho) */
  color: var(--white);
  /* cor: var(--branco) */
  border-radius: 10px;
  /* raio da borda: 10px */
  font-weight: 700;
  /* peso da fonte: 700 */
  transition: all 0.5s;
  /* transição: todos os 0,5s */
  text-decoration: none;
  /* decoração de texto: nenhum */

  margin-left: 100px;
  
}

.home-btn:hover {
  background: #000000;
}