@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap");

*{
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Titulo Login */
h1 {
  font-size: 1.8rem;
  margin: 1rem 1rem ;
  text-align: center;
}

/* Container Login */
.pg-login {
  float: left;
  border: 1px solid white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100vh;
}

/* ================== FORMULÁRIO ================*/
  
form {
  background-color: #fff;
  color: #353735;
  padding: 20px;
  border-radius: 8px;
  width: 300px;
}
input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background-color: black;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  font-size: 1rem;
}

button:hover {
  background-color: #353735;
}

h4{
  color: #fff;
  margin-top: 2rem;
}

#cadastre{
  text-align: center;
  margin-right: 50px;
  width: 110px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

h2{
  text-align: center;
}