@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,800;1,400&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

#titulo {
    width: 100%;
    top: -510px;
    padding-left: 40%;
    position: relative;

}

#paragrafo{
    margin-top: 25px;
}

a {
    color: aliceblue;
    padding-left: 1%;
    text-decoration: none;
    border-radius: 5px;
    
}

a:active {
    position: relative;
    font-size: 120%;
    outline: 2px solid blue;
    outline-offset: 5px;
    background-color: darkslategray;
}

a:hover {
    font-weight: bold;
}


a:focus {
    outline: 2px solid blue;
    outline-offset: 5px;
    background-color: darkslategray;
}

.homeSeta{
    width: 100%;
}

/* Configuração da Logo Header */
.logo {
    position: relative;
    margin-top: 0.5%;
    height: 25%;
    width: 20%;
    left: 7%;
}

#logo {
    cursor: pointer;
    position: relative;
    height: auto;
    width: 30%;
    opacity: 0.7;
}


/* Configuração de Cabeçalho */
header {
    padding-top: 0px;
    background: rgb(0, 0, 0);
    background: linear-gradient(145deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 0%, rgba(79, 0, 0, 0.6) 36%, rgba(0, 8, 73, 0.6) 67%, rgba(0, 0, 0, 1) 100%);
    height: 10%;
    width: 100%;
}

/* Configuração de links do Header (HOME, SOBRE, LOGIN ETC...) */
.menu-header {
  
    margin-top: -30px;
    font-size: 20px;
    color: white;
    text-decoration: none;

    display: flex;
    justify-content: center;
    align-items: end;
   
    padding-left: 240px;
    text-shadow: 0 20px 5px rgba(0, 0, 0, 0.1);
    margin-left: 45%;

}

.homeSeta{
    padding-left: 10px;
    display: flex;
    
}

/* Corpo - Body */
body {
    position: initial;
    background-color: black;
    background-repeat: no-repeat;
    color: white;
}

/* Rodapé */
footer {

    background: rgb(0, 0, 0);
    background: linear-gradient(145deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 0%, rgba(79, 0, 0, 0.6) 36%, rgba(0, 8, 73, 0.6) 67%, rgba(0, 0, 0, 1) 100%);
    height: 20%;
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    bottom: 0%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
}

.geralAbout {
    text-align: justify;
    display: flex;
    width: 80%;
}