@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,800;1,400&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Configuração da Logo Header */
.logo {
    position: relative;
    top: 5px;
    height: 25%;
    width: 25%;
    left: 10%;
}

#logo {
    cursor: pointer;
    position: relative;
    height: auto;
    width: 30%;
    opacity: 0.7;
}


/* Configuração de Cabeçalho */
header {
    height: 20%;
    background: rgb(0, 0, 0);
    background: linear-gradient(145deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 0%, rgba(79, 0, 0, 0.6) 36%, rgba(0, 8, 73, 0.6) 67%, rgba(0, 0, 0, 1) 100%);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: initial;
}

/* Configuração de links do Header (HOME, SOBRE, LOGIN ETC...) */
.menu-header {
    right: 3%;
    bottom: 40px;
    float: right;
    position: relative;
    width: 60%;
}

.menu-header a {
    font-size: 20px;
    align-items: center;
    color: white;
    text-decoration: none;
    float: right;
    padding-left: 2px;
    margin-right: 50px;
}

/* Corpo - Body */
body {
    position: initial;
    background-color: black;
    background-repeat: no-repeat;
    color: white;
}

main {
    border: 1px solid red;

}

/* Rodapé */
footer {

    background: rgb(0, 0, 0);
    background: linear-gradient(145deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 0%, rgba(79, 0, 0, 0.6) 36%, rgba(0, 8, 73, 0.6) 67%, rgba(0, 0, 0, 1) 100%);
    height: 10%;
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
}